<div class="about container">
    <div class="about--heading d-flex justify-content-center"><span class= "heading-prim">About</span></div>
    <div class="about--first-row row">
        <div class="col-lg-3 col-md-3 col-sm-6 col-6 d-flex justify-content-center align-items-center">
            <i class="fab fa-react"></i>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-6 d-flex justify-content-center align-items-center">
            <i class="fab fa-node-js"></i>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-6 d-flex justify-content-center align-items-center">
            <i class="fab fa-github"></i>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-6 d-flex justify-content-center align-items-center" >
            <i class="fab fa-sass"></i>
        </div>
    </div>
    <div class="about--second-row row" >
        <div class="image-container col-lg-6 col-md-6 col-sm-12 col-12 d-flex flex-column align-items-center">
            <picture class="imgicon">
                <source srcset="icon-sm.png 1x, icon-lg.png 2x" media="(max-width: 36em)">
                <img srcset="icon-sm.png 1x, icon-lg.png 2x" alt="icon">
            </picture>
            <h1 class="heading-prim mb-5">Who's this guy?</h1>
            <h2>I am a <span>full-stack developer</span> and currently pursuing my bachelors degree from IIT Varanasi</h2>
        </div>
        <div class="skill-container col-lg-6 col-md-6 col-sm-12 col-12 d-flex flex-column justify-content-center">
            <div class="bar bar1 d-flex"><span class="span-1">HTML</span><span class="span-2"></span> <span class="span-3">90%</span></div>
            <div class="bar bar2 d-flex"><span class="span-1">CSS</span><span class="span-2"></span> <span class="span-3">90%</span></div>
            <div class="bar bar3 d-flex"><span class="span-1">JS</span><span class="span-2"></span> <span class="span-3">80%</span></div>
            <div class="bar bar4 d-flex"><span class="span-1">Jquery</span><span class="span-2"></span>  <span class="span-3">80%</span></div>
            <div class="bar bar5 d-flex"><span class="span-1">React</span><span class="span-2"></span><span class="span-3">75%</span></div>
            <div class="bar bar6 d-flex"><span class="span-1">Node</span><span class="span-2"></span> <span class="span-3">80%</span></div>
            <div class="bar bar7 d-flex"><span class="span-1">Express</span><span class="span-2"></span> <span class="span-3">75%</span></div>
            <div class="bar bar8 d-flex"><span class="span-1">Mongoose</span><span class="span-2"></span> <span class="span-3">70%</span></div>
            <div class="bar bar9 d-flex"><span class="span-1">UI/UX</span><span class="span-2"></span> <span class="span-3">70%</span></div>
            <div class="bar bar10 d-flex"><span class="span-1">AdobeXD</span><span class="span-2"></span> <span class="span-3">80%</span></div>
            <div class="bar bar11 d-flex"><span class="span-1">Comp.Prog.</span><span class="span-2"></span> <span class="span-3">70%</span></div>
        </div>
    </div>
    <div class="more-button"><a href="/aboutme">Know more</a></div>
</div>