<section class="certifications">
    <div class="container">
        <h1 class="certifications-heading"><span class="heading-prim">Certifications</span></h1>
        <div class="row">
            <div class="col-lg-3">
                <div class="card c-card" >
                    <img srcset="wdb-sm.jpg 1x, wdb.jfif 2x" class="card-img-top" alt="web development">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#wdb">
                        View
                    </button>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card" >
                    <img srcset="wdes-sm.png 1x, wdes.png 2x" class="card-img-top" alt="web design">
                        <button type="button" class="btn btn-primary btn-coursera" data-toggle="modal" data-target="#wdes">
                            View
                        </button>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card" >
                    <img srcset="atb-sm.png 1x,atb.png 2x" class="card-img-top" alt="algorithms">
                    <button type="button" class="btn btn-primary btn-coursera" data-toggle="modal" data-target="#atb">
                        View
                    </button>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card" >
                    <img srcset="acss-sm.jpg 1x, acss.jpg 2x" class="card-img-top" alt="adv css">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#sass">
                        View
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal button-->
    
    
    <!-- Modal wdb -->
    <div class="modal fade" id="wdb" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Web-Developer Bootcamp</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <img src="wdb.jfif" class="card-img-top" alt="web development">
                <div class="modal-footer">
                    <a href="https://www.udemy.com/certificate/UC-6a58bc5b-73d0-4be1-a616-e19b332f5a02/" class="btn btn-info">Credentials</a>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal wdes -->
    <div class="modal fade" id="wdes" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Web Design</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <img src="wdes.png" class="card-img-top" alt="web design">
                <div class="modal-footer">
                    <a href="https://www.coursera.org/account/accomplishments/certificate/MMJ2E5YHDSP9" class="btn btn-info">Credentials</a>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal atb -->
    <div class="modal fade" id="atb" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Algorithm Toolbox</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <img src="atb.png" class="card-img-top" alt="algorithms">
                <div class="modal-footer">
                    <a href="https://www.coursera.org/account/accomplishments/certificate/L7QWM6QK8DZA" class="btn btn-info">Credentials</a>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal sass -->
    <div class="modal fade" id="sass" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Advanced CSS and Sass</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <img src="acss.jpg" class="card-img-top" alt="adv css">
                <div class="modal-footer">
                    <a href="https://www.udemy.com/certificate/UC-1d016949-c5bd-44c4-ae35-ee443e59ce4f/" class="btn btn-info">Credentials</a>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</section>