<section class="contact">
    <div class="container" id="4">
        <h1 class="contact-heading"><span class="heading-sec" >Contact</span></h1>
        <form action="/sendmail" method="POST" class="contact-form">
           <div class="contact-form-input">
                <input name="mailinfo[name]" type="text" placeholder="Name" class="contact-form-name">
                <input name="mailinfo[email]" type="email" placeholder="Email" class="contact-form-email">
                <textarea name="mailinfo[description]" rows="5" placeholder="Your message"></textarea>
                <button class="contact-form-button">Send</button>
           </div>
        </form>
    </div>
    
</section>