<footer class="footer">
    <a href="#"><i class="fas fa-arrow-up"></i></a>
    <div class="container">
        <div class="footer--row footer--row-main">
            <a href="https://www.linkedin.com/in/akash-verma-18135008/"><i class="fab fa-linkedin"></i></a>
            <a href="https://www.facebook.com/profile.php?id=100013041282636"><i class="fab fa-facebook-square"></i></a>
            <a href="https://www.instagram.com/vermakash.1.2.9/?hl=en"><i class="fab fa-instagram-square"></i></a>
            <a href="https://github.com/Akash-vaerma-18135008"><i class="fab fa-github-square"></i></a>
            <a href="tel:+91-7054443300" name="format-detection" content="telephone=no"><i class="fas fa-phone-square-alt"></i></i></a>
        </div>
        <div class="footer--row footer--row-copyright">
            <h2>Akash Verma &copy;</h2>
        </div>
    </div>
</footer>