<section class="projects container-fluid" id="2">
    <div class="container">
        <h1 class="projects--main-heading projects--main-heading-animtd"><span class="heading-prim">Projects</span></h1>
        <div class="projects--container row">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-main">
                        <img src="Covisafe1.png" class="card-img-top" alt="Covisafe">
                        <div class="card-body">
                            <p class="card-text">Covisafe</p>
                            <span><i class="fas fa-hand-point-up"></i></span>
                        </div>
                    </div>
                    <div class="card-info">
                        <p>This is a Covid-19 live tracking React App</p>
                        <ul>
                            <div>
                                <li>React</li>
                                <li>Sass</li>
                                <li>Rest APIs</li>
                            </div>
                            <div>
                                <li>Axios</li>
                                <li>Context API</li>
                                <li>Router</li>
                            </div>
                        </ul>
                        <div class="div-a"><a href="https://covisafe.herokuapp.com/">VISIT</a><a href="https://github.com/Akash-vaerma-18135008/Covisafe">CODE <i class="fas fa-code"></i></a></div>
                    </div>
                </div>
            </div>
        
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-main">
                        <img src="trex1.png" class="card-img-top" alt="trex">
                        <div class="card-body">
                            <p class="card-text">Trex</p>
                            <span><i class="fas fa-hand-point-up"></i></span>
                        </div>
                    </div>
                    <div class="card-info">
                        <p>This is an expense tracking Web App</p>
                        <ul>
                            <div>
                                <li>HTML</li>
                                <li>Flexbox</li>
                                <li>JS</li>
                            </div>
                            <div>
                                <li>JQuery</li>
                                <li>Sass</li>
                                <li>keyframes</li>
                            </div>
                        </ul>
                        <div class="div-a"><a href="https://trex-av.herokuapp.com/">VISIT</a><a href="https://github.com/Akash-vaerma-18135008/Trex">CODE <i class="fas fa-code"></i></a></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-main">
                        <img src="DadJokes.png" class="card-img-top" alt="Dad-Jokes">
                        <div class="card-body">
                            <p class="card-text">Dad-Jokes</p>
                            <span><i class="fas fa-hand-point-up"></i></span>
                        </div>
                    </div>
                    <div class="card-info">
                        <p>This is a fun web app to read Jokes</p>
                        <ul>
                            <div>
                                <li>React</li>
                                <li>Rest API</li>
                            </div>
                            <div>
                                <li>Axios</li>
                                <li>Local Storage</li>
                            </div>
                        </ul>
                        <div class="div-a"><a href="https://dadjokes-av.herokuapp.com/">VISIT</a><a href="https://github.com/Akash-vaerma-18135008/dadjokes">CODE <i class="fas fa-code"></i></a></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-main">
                        <img src="MyPortfolio.png" class="card-img-top" alt="This website">
                        <div class="card-body">
                            <p class="card-text">This website</p>
                            <span><i class="fas fa-hand-point-up"></i></span>
                        </div>
                    </div>
                    <div class="card-info">
                        <p>This is my personal website.</p>
                        <ul>
                            <div>
                                <li>NodeJs</li>
                                <li>Express</li>
                                <li>Mongoose</li>
                            </div>
                            <div>
                                <li>Sass</li>
                                <li>Something</li>
                                <li>Something</li>
                            </div>
                        </ul>
                        <div class="div-a"><a href="#">VISIT</a><a href="#">CODE <i class="fas fa-code"></i></a></div>
                    </div>
                </div>
            </div>
            <div class="more-button"  id="3"><a href="/projects">View more</a></div>
        </div>
    </div>
</section>