<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Akash Verma</title>
    <link rel='stylesheet' href='bootstrap.css' />
    <link rel='stylesheet' href='style.css' />
    <link rel="stylesheet" href="icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&family=Poppins&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <link rel="shortcut icon" type="image/png" href="icon-sm.png">
</head>

<body>
    <%- include("./components/nav.ejs") %>
    <section class="aboutpage">
        <div class="aboutpage-header container">
            <div class="row">
                <div class="col-lg-6 aboutpage-header--logo">
                    <img srcset="icon-sm.png 1x,icon-lg.png 2x" alt="">
                </div>
                <div class="col-lg-6">
                    <div class="aboutpage-header--description">
                        Hi! this is Akash Verma. I am a 3rd year <span>Mechanical Engineering</span> student at <span>IIT Varanasi</span>. I'm passionate about learning the latest and greatest technologies weather thats the frontend or backend. I enjoy
                        creating sleek and responsive applications in addition to being user friendly. I love working in fast paced
                        environments. With my cultural and sport experiences I excel at collaborating with teams of same or different knowledge
                        sets. A versatile engineer with interests in software Engineering and Algorithms.A sportsman and a <span>Boxer</span>. Adaptable and
                        self motivated learner. Interested in new programming technologies, and continuous self improvement.
                    </div>
                </div>
            </div>
        </div>
        <div class="aboutpage-skills container-fluid">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-3 col-3 aboutpage-skills--icon aboutpage-skills--icon-1"><img src="icons8-html-5-100.png" alt=""></div>
                    <div class="col-lg-2 col-md-2 col-sm-3 col-3 aboutpage-skills--icon aboutpage-skills--icon-2"><img src="icons8-css3-100.png" alt=""></div>
                    <div class="col-lg-2 col-md-2 col-sm-3 col-3 aboutpage-skills--icon aboutpage-skills--icon-3"><img src="icons8-javascript-100.png" alt=""></div>
                    <div class="col-lg-2 col-md-2 col-sm-3 col-3 aboutpage-skills--icon aboutpage-skills--icon-4"><img src="icons8-jquery-100.png" alt=""></div>
                    <div class="col-lg-2 col-md-2 col-sm-3 col-3 aboutpage-skills--icon aboutpage-skills--icon-5"><img src="icons8-bootstrap-100.png" alt=""></div>
                    <div class="col-lg-2 col-md-2 col-sm-3 col-3 aboutpage-skills--icon aboutpage-skills--icon-6"><img src="icons8-react-100.png" alt=""></div>
                    <div class="col-lg-2 col-md-2 col-sm-3 col-3 aboutpage-skills--icon aboutpage-skills--icon-7"><img src="icons8-nodejs-100.png" alt=""></div>
                    <div class="col-lg-2 col-md-2 col-sm-3 col-3 aboutpage-skills--icon aboutpage-skills--icon-8"><img src="icons8-mongodb-100.png" alt=""></div>
                    <div class="col-lg-2 col-md-2 col-sm-3 col-3 aboutpage-skills--icon aboutpage-skills--icon-9"><img src="express.png" alt=""></div>
                    <div class="col-lg-2 col-md-2 col-sm-3 col-3 aboutpage-skills--icon aboutpage-skills--icon-10"><img src="icons8-github-100-2.png" alt=""></div>
                    <div class="col-lg-2 col-md-2 col-sm-3 col-3 aboutpage-skills--icon aboutpage-skills--icon-11"><img src="icons8-c++-100.png" alt=""></div>
                    <div class="col-lg-2 col-md-2 col-sm-3 col-3 aboutpage-skills--icon aboutpage-skills--icon-12"><img src="icons8-c-programming-100.png" alt=""></div>
                </div>
            </div>
        </div>
        <div class="aboutpage-edex container-fluid">
            <div class="row justify-content-center">
                <div class="col-lg-5 col-md-10">
                    <div class="aboutpage-edex--item aboutpage-edex--ex">
                        <h1>EXPERIENCE</h1>
                        <div class="ex">
                            <div class="ex-intro">
                                <a href="https://www.linkedin.com/company/unschool-learning/"><img src="unschool.png" alt="unschool"></a>
                                <div>
                                    <h3>Junior Coach(Full-Stack Dev.)</h3>
                                    <h4><span>Unschool</span><span>Internship</span></h4>
                                </div>
                            </div>
                            <div class="ex-desc">
                                <ul>
                                    <li>3 Months</li>
                                    <li>Teaching over 200 students about Full-Stack Development.</li>
                                    <li>Improving my interaction skills.</li>
                                    <li>Learning new things from the doubts of students.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-md-10">
                    <div class="aboutpage-edex--item aboutpage-edex--ed">
                        <h1>EDUCATION</h1>
                        <div class="ed">
                            <div class="ed-intro">
                                <a href="https://www.iitbhu.ac.in/"><img src="iibhu.png" alt="IIT BHU"></a>
                                <div>
                                    <h3>IIT Varanasi</h3>
                                    <h4><span>B.tech</span><span>Mechanical</span></h4>
                                </div>
                            </div>
                            <div class="ed-desc">
                                <ul>
                                    <li>Expected: August 2022</li>
                                    <li>CPI: 8.4</li>
                                </ul>
                            </div>
                        </div>
                        <div class="ed">
                            <div class="ed-intro">
                                <img src="cvric.jpg" alt="CVRIC">
                                <div>
                                    <h3>C.V.R.I.C</h3>
                                    <h4><span>U.P.Board</span><span>Intermediate</span></h4>
                                </div>
                            </div>
                            <div class="ed-desc">
                                <ul>
                                    <li>High School: 82.5%</li>
                                    <li>Intermediate: 89.4%</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-5 col-md-10">
                    <div class="aboutpage-edex--item aboutpage-edex--cert">
                        <h1>CERTIFICATIONS</h1>
                        <ul class="cert">
                            <a href="#"><li><img src="udemy-icon.png" alt="udemy">Web-Development</li></a>
                            <a href="#"><li><img src="udemy-icon.png" alt="udemy">Advanced CSS</li></a>
                            <a href="#"><li><img src="coursera-icon.png" alt="udemy">Web-Design</li></a>
                        </ul>
                        <ul class="cert">
                            <a href="#"><li><img src="coursera-icon.png" alt="udemy">Algorithm Toolbox</li></a>
                            <a href="#"><li><img src="coursera-icon.png" alt="udemy">Data-Structures</li></a>
                            <a href="#"><li><img src="udemy-icon.png" alt="udemy">ReactJS</li></a>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-5 col-md-10">
                    <div class="aboutpage-edex--item aboutpage-edex--por">
                        <h1>P.O.Rs</h1>
                        <ul class="por">
                                <li>Fest Coordinator @COMET of Mechanical Engineering Society, IIT Varanasi.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-10 col-md-10">
                    <div class="aboutpage-edex--item aboutpage-edex--excurr">
                        <h1>EXTRA CURRICULAR</h1>
                        <ul class="excurr">
                            <img src="boxing.png" alt="udemy">
                            <div>
                                <li><span>Boxing</span> Active member of <a href="https://www.instagram.com/iitbhu_boxing/?hl=en">Boxing-Team</a> of IIT Varanasi. </li>
                                <li>Secured 1st Position twice in Inter-Department Boxing Tournament. </li>
                            </div>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-10 col-md-10">
                    <div class="aboutpage-edex--item aboutpage-edex--hob">
                        <h1>HOBBIES</h1>
                        <ul class="hob">
                            <div>
                                <li><img src="cooking.png" alt="udemy"> Cooking</li>
                                <li><img src="book.png" alt="udemy"> Novels</li>
                            </div>
                            <div>
                                <li><img src="music.png" alt="udemy"> Music</li>
                                <li><img src="coding.png" alt="udemy"> Coding</li>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <%- include("./components/footer.ejs") %>

    <script src="style.js"></script>
    <script src="bootstrap.js"></script>
</body>

</html>