<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Akash Verma</title>
    <link rel='stylesheet' href='bootstrap.css' />
    <link rel='stylesheet' href='style.css' />
    <link rel="stylesheet" href="icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&family=Poppins&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <link rel="shortcut icon" type="image/png" href="icon-sm.png">
</head>

<body>
    <%- include("./components/nav.ejs") %>

    <section class="projpage">
        <div class="container">
            <div class="projpage-c1 projpage-frontend">
                <h1 class="projects--main-heading"><span class="heading-prim">Front-end Projects</span></h1>
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <div class="card">
                            <div class="card-main">
                                <img src="trex1.png" class="card-img-top" alt="trex">
                                <div class="card-body">
                                    <p class="card-text">Trex</p>
                                    <span><i class="fas fa-hand-point-up"></i></span>
                                </div>
                            </div>
                            <div class="card-info">
                                <p class="p">This is an expense tracking Web App</p>
                                <ul class="ul">
                                    <div>
                                        <li>HTML</li>
                                        <li>Flexbox</li>
                                        <li>JS</li>
                                    </div>
                                    <div>
                                        <li>JQuery</li>
                                        <li>Sass</li>
                                        <li>keyframes</li>
                                    </div>
                                </ul>
                                <div class="div-a"><a href="https://trex-av.herokuapp.com/">VISIT</a><a href="https://github.com/Akash-vaerma-18135008/Trex">CODE <i class="fas fa-code"></i></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="card">
                            <div class="card-main">
                                <img src="Nexter1.png" class="card-img-top" alt="Nexter">
                                <div class="card-body">
                                    <p class="card-text">Nexter</p>
                                    <span><i class="fas fa-hand-point-up"></i></span>
                                </div>
                            </div>
                            <div class="card-info">
                                <p class="p">This is a pure css template made using grids</p>
                                <ul class="ul">
                                    <div>
                                        <li>HTML</li>
                                        <li>CSS Grids</li>
                                    </div>
                                    <div>
                                        <li>Sass</li>
                                        <li>keyframes</li>
                                    </div>
                                </ul>
                                <div class="div-a"><a href="https://nexter-av.herokuapp.com/">VISIT</a><a href="https://github.com/Akash-vaerma-18135008/Nexter">CODE <i class="fas fa-code"></i></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="card">
                            <div class="card-main">
                                <img src="Friend'sPortfolio1.png" class="card-img-top" alt="Friend's Portfolio">
                                <div class="card-body">
                                    <p class="card-text">Friend's Portfolio</p>
                                    <span><i class="fas fa-hand-point-up"></i></span>
                                </div>
                            </div>
                            <div class="card-info">
                                <p class="p">This is a portfolio website for my friend</p>
                                <ul class="ul">
                                    <div>
                                        <li>HTML</li>
                                        <li>Flexbox</li>
                                    </div>
                                    <div>
                                        <li>Sass</li>
                                        <li>keyframes</li>
                                    </div>
                                </ul>
                                <div class="div-a"><a href="https://aayush-portfolio.herokuapp.com/">VISIT</a><a href="https://github.com/Akash-vaerma-18135008/aayush-portfolio">CODE <i class="fas fa-code"></i></a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="projpage-c1 projpage-react">
                <h1 class="projects--main-heading"><span class="heading-prim">React Projects</span></h1>
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <div class="card">
                            <div class="card-main">
                                <img src="Covisafe1.png" class="card-img-top" alt="Covisafe">
                                <div class="card-body">
                                    <p class="card-text">Covisafe</p>
                                    <span><i class="fas fa-hand-point-up"></i></span>
                                </div>
                            </div>
                            <div class="card-info">
                                <p class="p">This is a Covid-19 live tracking React App</p>
                                <ul class="ul">
                                    <div>
                                        <li>React</li>
                                        <li>Sass</li>
                                        <li>Rest APIs</li>
                                    </div>
                                    <div>
                                        <li>Axios</li>
                                        <li>Context API</li>
                                        <li>Router</li>
                                    </div>
                                </ul>
                                <div class="div-a"><a href="https://covisafe.herokuapp.com/">VISIT</a><a href="https://github.com/Akash-vaerma-18135008/Covisafe">CODE <i class="fas fa-code"></i></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="card">
                            <div class="card-main">
                                <img src="DadJokes.png" class="card-img-top" alt="Dad-Jokes">
                                <div class="card-body">
                                    <p class="card-text">Dad-Jokes</p>
                                    <span><i class="fas fa-hand-point-up"></i></span>
                                </div>
                            </div>
                            <div class="card-info">
                                <p class="p">This is a fun web app to read Jokes</p>
                                <ul class="ul">
                                    <div>
                                        <li>React</li>
                                        <li>Rest API</li>
                                    </div>
                                    <div>
                                        <li>Axios</li>
                                        <li>Local Storage</li>
                                    </div>
                                </ul>
                                <div class="div-a"><a href="https://dadjokes-av.herokuapp.com/">VISIT</a><a href="https://github.com/Akash-vaerma-18135008/dadjokes">CODE <i class="fas fa-code"></i></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4"></div>
                </div>
            </div>
            <div class="projpage-c1 projpage-fullstack">
                <h1 class="projects--main-heading"><span class="heading-prim">Full-stack Projects</span></h1>
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <div class="card">
                            <div class="card-main">
                                <img src="MyPortfolio.png" class="card-img-top" alt="This website">
                                <div class="card-body">
                                    <p class="card-text">This website</p>
                                    <span><i class="fas fa-hand-point-up"></i></span>
                                </div>
                            </div>
                            <div class="card-info">
                                <p class="p">This is my personal website.</p>
                                <ul class="ul">
                                    <div>
                                        <li>NodeJs</li>
                                        <li>Express</li>
                                        <li>Mongoose</li>
                                    </div>
                                    <div>
                                        <li>Sass</li>
                                        <li>Bootstrap</li>
                                        <li>Something</li>
                                    </div>
                                </ul>
                                <div class="div-a"><a href="#">VISIT</a><a href="#">CODE <i class="fas fa-code"></i></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="card">
                            <div class="card-main">
                                <img src="MyBook.png" class="card-img-top" alt="MyBook">
                                <div class="card-body">
                                    <p class="card-text">MyBook</p>
                                    <span><i class="fas fa-hand-point-up"></i></span>
                                </div>
                            </div>
                            <div class="card-info">
                                <p class="p">This website helps to save online questions</p>
                                <ul class="ul">
                                    <div>
                                        <li>NodeJs</li>
                                        <li>Express</li>
                                    </div>
                                    <div>
                                        <li>PassportJs</li>
                                        <li>Mongoose</li>
                                    </div>
                                </ul>
                                <div class="div-a"><a href="https://my-book-r.herokuapp.com/">VISIT</a><a href="https://github.com/Akash-vaerma-18135008/MyBook">CODE <i class="fas fa-code"></i></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="card">
                            <div class="card-main">
                                <img src="Trushy1.png" class="card-img-top" alt="Trushy">
                                <div class="card-body">
                                    <p class="card-text">Trushy</p>
                                    <span><i class="fas fa-hand-point-up"></i></span>
                                </div>
                            </div>
                            <div class="card-info">
                                <p class="p">This is a to do list management app</p>
                                <ul class="ul">
                                    <div>
                                        <li>NodeJs</li>
                                        <li>Express</li>
                                    </div>
                                    <div>
                                        <li>PassportJs</li>
                                        <li>Mongoose</li>
                                    </div>
                                </ul>
                                <div class="div-a"><a href="https://trushy-r.herokuapp.com/">VISIT</a><a href="https://github.com/Akash-vaerma-18135008/trushy">CODE <i class="fas fa-code"></i></a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <%- include("./components/footer.ejs") %>

    <script src="style.js"></script>
    <script src="bootstrap.js"></script>
</body>

</html>