$col-prim: #ff0077;
$col-prim-1: #ff0077d5;
$col-prim-light: #f769ab;
$col-prim-xlight: #f8d3e5;
$col-prim-dark: #c2075e;
$col-prim-dark-1: #e00e70be;

$col-sec: rgb(64, 179, 169);
$col-sec-1: rgb(53, 240, 224);
$col-sec-2: rgb(119, 243, 233);
$col-sec-light: rgb(164, 235, 228);
$col-sec-light-1: rgb(195, 238, 234);


$col-nav-bg: rgb(17, 7, 36);
$col-nav-bg-light: rgba(19, 6, 41, 0.98);

$col-white : rgb(236, 235, 235);
$col-white-light : rgb(156, 154, 154);
$col-grey : rgb(231, 228, 228);
$col-black : rgb(29, 28, 28);
$col-black-light : rgb(41, 40, 40);